<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Page not found</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container py-5">
      <div class="card text-center">
        <div class="card-body">
          <h1>This page could not be found.</h1>
          <a href="/" class="btn btn-primary mt-3">Go to HomePage</a>
        </div>
      </div>
    </div>
    <!-- <div class="card text-center">
      <div class="card-body border">
        <h1>404</h1>
        <h1 class="card-title">This page could not be found.</h1>
        <a href="/" class="btn btn-primary mt-2">Go to HomePage</a>
      </div>
    </div> -->
  </body>
</html>
